<div class="row">
    <h1 class="page-header">Profile</h1>
  <form class="form-horizontal" role="form" ng-controller="EmployeeController"  >
    <div class="col-xs-5"> 
        <div class="panel panel-primary" >
            <div class="panel-heading">
                Personal Information
            </div>
            <div class="panel-body">
              
                <div class="form-group">
                    <label class="col-sm-4 control-label">First Name</label>
                    <div class="col-sm-6">
                        <input type="text" maxlength="50"  class="form-control input-sm" data-ng-model="employeeFirstName" placeholder="First Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Surname</label>
                    <div class="col-sm-6">
                        <input type="text" maxlength="50"  class="form-control input-sm" data-ng-model="employeeSurnameName" placeholder="Surname Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Birthday</label>
                    <div class="col-sm-4">
                        <p class="input-group">
                            <input type="text" class="form-control input-sm" datepicker-popup="{{format}}" ng-model="birthday" is-open="birthdayopened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-="true" close-text="Close" placeholder="Birthday" disabled=""/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-sm" ng-click="birthdayPicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Religion</label>
                    <div class="col-sm-4">
                        <input type="text"  class="form-control input-sm"  placeholder="Religion"   ui-Autocomplete="religionTypeAutocomplete"  data-ng-model="religionType.Name"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Address Line 1</label>
                    <div class="col-sm-6">
                        <input type="text" maxlength="50"  class="form-control input-sm" data-ng-model="employeeAddressLineOne" placeholder="Address Line 1">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Address Line 2</label>
                    <div class="col-sm-6">
                        <input type="text" maxlength="50"  class="form-control input-sm" data-ng-model="employeeAddressLineTwo" placeholder="Address Line 2">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">City</label>
                    <div class="col-sm-6">
                        <input type="text" maxlength="50"  class="form-control input-sm" data-ng-model="employeeCity" placeholder="City">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Phone Number</label>
                    <div class="col-sm-2">
                        <input type="text"  class="form-control input-sm"  placeholder="Type"  ui-Autocomplete="phoneNumberTypeAutocomplete"  data-ng-model="phoneNumberType.Name"/>
                    </div>
                    <div class="col-sm-4">
                        <input type="number" maxlength="50"  class="form-control input-sm" data-ng-model="phoneNumber" placeholder="Number">
                    </div>
                    <div class="col-sm-1">
                        <span class="input-group-sm">
                            <button type="button" class="btn btn-success btn-sm" ng-click="addPhoneNumber()"><i class="glyphicon glyphicon-plus"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Phone Numbers</label>
                    <div class="col-sm-6">
                        <div class="grid-style" data-ng-grid="gridPhone"></div>
                    </div> 
                </div> 
            </div>
        </div>
    </div>  
    <div class="col-xs-5">  
        <div class="panel panel-primary">
            <div class="panel-heading">
                Official Information
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Date of Join</label>
                    <div class="col-sm-6">
                        <p class="input-group">
                            <input type="text" class="form-control input-sm" datepicker-popup="{{format}}" ng-model="dateofJoin" is-open="joindayopened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-="true" close-text="Close" disabled="" placeholder="Date of Join"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-sm" ng-click="joindayPicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Type</label>
                    <div class="col-sm-4">
                        <input type="text"  class="form-control input-sm"  placeholder="Employe Type"  ui-Autocomplete="employeeTypeAutocomplete"  data-ng-model="employeeType.Name"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">EPF</label>
                    <div class="col-sm-4">
                        <input type="text" maxlength="50"  class="form-control input-sm" data-ng-model="employeeEpf" placeholder="EPF Number">
                    </div>
                </div>

            </div> 
        </div>  
    </div> 
    <div class="col-xs-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Add Profile Picture
            </div>
            <div class="panel-body">
                <div class="form-group">           
                    <img  src="./images/profile_pic.png" alt="..." class="img-thumbnail">       
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="separator pull-right">
                </div>
                <div class="pull-right">
                    <input id="Button2" type="button" class="btn btn-success btn-sm" value="Add" data-ng-click="createEmployee()" />                                          
                    <input id="Button2" type="button" class="btn btn-info btn-sm" value="Clear" data-ng-click="clearEmployeeText()" />
                    <input id="Button2" type="button" class="btn btn-primary btn-sm" value="Search" data-ng-click="" />      
                </div>
            </div>
        </div>
    </div> 
</form> 
<table class="table table-hover" data-ng-model="employee">
    <thead>
        <tr>
            <th><label>Employee Id</label></th>
            <th><label>EPF</label></th>
            <th><label>Name</label></th>
            <th><label>Birthday</label></th>
            <th><label>Employee Type</label></th>
            <th><label>Date of Join</label></th>
             <th><label>City</label></th>
            <th><label></label></th>
            <th><label></label></th>
        </tr>
    </thead>
   
    <tbody>
      <tr ng-repeat="item in employeesDataGrid" >
            <td>{{item.employee_id}}</td>
            <td>{{item.employee_EPF}}</td>
            <th>{{item.employee_FName +" "+ item.employee_SName}}</th>
            <th>{{item.employee_Bday}}</th>
            <th>{{item.empType}}</th>
            <th>{{item.employee_DateofJoin}}</th>
            <th>{{item.employee_City}}</th>
            <td><a class="btn btn-primary btn-sm" data-ng-click="clickEdit(item)"><span  class="fa fa-pencil-square-o"></span></a></td>    
            <td><a class="btn btn-danger btn-sm" data-ng-click="deleteEmployee(item.employee_id)"><span  class="fa fa-trash-o"></span></a></td>    
        </tr>  
      <!--  <tr>
            <td>01</td>
            <td>4535</td>
            <th>Narmal</th>
            <th>1985-01-03</th>
            <th>Contrat</th>
            <th>2015-02-03</th>
            <td><a class="btn btn-primary btn-sm"><span  class="fa fa-pencil-square-o"></span></a></td>    
            <td><a class="btn btn-danger btn-sm"><span  class="fa fa-trash-o"></span></a></td>       
        </tr>   
        <tr>
            <td>04</td>
            <td>3423</td>
            <th>Sirisoma</th>
            <th>1978-05-08</th>
            <th>Labour</th>
            <th>2015-02-02</th>
            <td><a class="btn btn-primary btn-sm"><span  class="fa fa-pencil-square-o"></span></a></td>    
            <td><a class="btn btn-danger btn-sm"><span  class="fa fa-trash-o"></span></a></td>         
        </tr> --> 
    </tbody>
</table>




</div>  


