<div class="row">
           <form class="form-horizontal" role="form" >
                                                <div class="col-xs-6">      
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">Month</label>
                                                        <div class="col-sm-8">
                                                            <select name="plant" class="form-control" data-ng-options="" required data-ng-model="plant">
                                                                <option value="" selected="selected">January</option>
                                                                <option value="" >February</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>  

                                                <div class="col-xs-6">     
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">Status</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" maxlength="50" required class="form-control" data-ng-model="Name">

                                                        </div>
                                                    </div>  

   
                                                </div> 

                                            </form> 
    
        <table class="table table-hover">
        <thead>
            <tr>

                <th><label>Kaizan No</label></th>                                       
                <th><label>Date</label></th>
                <th><label>Proposer</label></th>
                <th><label>Status</label></th>
                <th><label>Suggestion</label></th>
                <th><label>Comment</label></th>
                <th colspan="2"><label>Approval</label></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in kaizenList">
                <td>{{item.KaizanNo}}</td>
                <td>{{item.Date}}</td>
                <td>{{item.ProposerName}}</td>
                <td>{{item.KaizenStatus}}</td>
                <td>{{item.Suggestion}}</td>
                <td>{{item.Comment}}</td>
                 <td><button data-ng-disabled="item.KaizenStatusId == 5" class="btn btn-success btn-xs" data-ng-click="approve(item)" ><span class="glyphicon glyphicon-ok"></span></button></td>
                <td><button data-ng-disabled="item.KaizenStatusId == 6" class="btn btn-danger btn-xs" data-ng-click="reject(item)"><span class="glyphicon glyphicon-remove"></span></button></td>
        </tbody>
    </table>
 
</div>