 
<div class="row">
    <form class="form-horizontal" role="form" >
        <div class="col-xs-6">      
            <div class="form-group">
                <label class="col-sm-4 control-label">Month</label>
                <div class="col-sm-8">

                    <select class="form-control input-sm" ng-model="months" 
                            ng-options="months as months.name for months in month">                                              
                    </select>

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Department</label>
                <div class="col-sm-8">
                    <select class="form-control input-sm" ng-model="departmentes" 
                            ng-options="departmentes as departmentes.DepartmentName for departmentes in departmentDropDown">                                              
                    </select>
                </div>
            </div>



        </div>  

        <div class="col-xs-6">     
            <div class="form-group">
                <label class="col-sm-4 control-label">Kaizen Count</label>
                <div class="col-sm-8">
                    <input type="number" maxlength="10" required class="form-control input-sm" data-ng-model="Name">

                </div>
            </div>  

            <div class="form-group">
                <div class="col-sm-12">
                    <div class="separator pull-right">
                    </div>
                    <div class="pull-right">
                        <input id="Button2" type="button" class="btn btn-primary" value="Add" data-ng-click="" />                                               
                        <input id="Button2" type="button" class="btn btn-info" value="Clear" data-ng-click="" />

                    </div>
                </div>
            </div>
        </div> 

    </form> 

    <table class="table table-hover">
        <thead>
            <tr>

                <th><label>DepartmentName</label></th>                                       
                <th><label>Month</label></th>
                <th><label>Kaizen Count</label></th>



            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in kaizanCountGrid">
                <td>{{item.Department}}</td>
                <td>{{item.Month}}</td>
                <td>{{item.KaizenCount}}</td>   
            </tr>            
            <!-- <tr>
                 <td>IT</td>
                 <td>January</td>
                 <td>20</td>

             </tr>   
             <tr>
                 <td></td>
                 <td>February</td>
                 <td>10</td>

             </tr> 

             <tr>
                 <td>Development</td>
                 <td>January</td>
                 <td>20</td>

             </tr>   
             <tr>
                 <td></td>
                 <td>February</td>
                 <td>10</td>

             </tr>  -->  
        </tbody>
    </table>

</div>
