<div id="wrapper" class="{{togelWrapperclass}}">           
    <div id="sidebar-wrapper">
        <ul id="sidebar_menu" class="sidebar-nav"  ng-click="togelWrapper()">
            <li class="sidebar-brand"><a id="menu-toggle" href="">Dashboard<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
        </ul>
        <ul class="sidebar-nav" id="sidebar" ng-repeat="items in navBarItems" >     
            <li><a href="#/{{items| lowercase}}">{{items}}</a></li>  
        </ul>      
         
    </div>
    

    
    <!-- Page content -->
    <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
            <div class="row">
                
                <br>
                <div class="col-md-12">
                    
                        <div class="dropdown pull-right">
    <a class="dropdown-toggle1 btn btn-default" id="dLabel2" role="button" data-toggle="dropdown" data-target="#" href="">
        <span class="fa fa-calendar"></span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel2">
        <datetimepicker data-ng-model="kiazanStatusDate" 
                        data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle1' }"></datetimepicker>
    </ul>
</div>
                  <!--  <h1 class="page-header" >Dashboard</h1>-->
                    <h4 class="sub-header pointer mainToggelStyle" ng-click="togelFishingBoatsStatus()">Kiazan  Status{{kiazanStatusDate | date:'short'}}</h4>
                    <div class="row placeholders" ng-show="!boolFishingBoatsStatusChangeClass">
                        <div class="col-xs-6 col-sm-3 placeholder">
                            <div id="graph1"></div>
                            <!--  <img data-src="" class="img-thumbnail imagehover" alt="200x200" src="./images/fishpi.JPG">-->
                            <h4>Department</h4>
                            <!-- <span class="text-muted">Idle Boat and <br/>  On Mission Boat</span>-->
                        </div>
                        <div class="col-xs-6 col-sm-3 placeholder">
                            <div id="graph2"></div>
                            <!--   <img data-src="" class="img-thumbnail imagehover" alt="200x200" src="./images/fishmapi.JPG">-->

                            <h4>Benefits</h4>
                            <!-- <span class="text-muted">Idle Mapping Boat and <br/>  On  Mission Mapping Boat</span>-->
                        </div>
                        <div class="col-xs-6 col-sm-3 placeholder">
                            <div id="graph3"></div>
                            <!--  <img data-src="" class="img-thumbnail imagehover" alt="200x200" src="./images/fish.JPG">   -->      
                            <h4>Cost Saving</h4>
                            <!--  <span class="text-muted">New Fishing Schools</span>-->
                        </div>
                        <div class="col-xs-6 col-sm-3 placeholder">
                            <div id="graph4"></div>
                            <!--  <img data-src="" class="img-thumbnail imagehover" alt="200x200" src="./images/fish.JPG">-->
                            <h4>Time Improvement</h4>
                            <!--  <span class="text-muted">Fish Quantity</span>-->
                        </div>
                    </div>

</div>

                

            </div>
        </div>
    </div>      
</div>  

