<div class="row">
    <div class="col-md-12">

        <h1>Settings</h1>
        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    <li  ng-class="{'active' : clickedTab == 1}" >
                        <a  ng-click="clickTeb(1)" data-toggle="tab">
                            <span  class="fa fa-university"></span> <b>Add New Department </b></a>
                    </li >
                    <li  ng-class="{'active' : clickedTab == 2}">
                        <a  ng-click="clickTeb(2)" data-toggle="tab">
                            <span  class="fa fa-users"></span> <b>Add New Employee </b></a>
                    </li>
                    <li ng-class="{'active' : clickedTab == 3}" ng-show="false">
                        <a  ng-click="clickTeb(3)"  data-toggle="tab">
                            <span  class="fa fa-tasks"></span> <b>Add New Category</b> </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" ng-class="{'active' : clickedTab == 1}" id="tab_default_1">

                        <div class="row">
                            <form class="form-horizontal" role="form" >
                                <div class="col-xs-5">      
                                   
                                    
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Department Name </label>
                                        <div class="col-sm-8">
                                            <input type="text" maxlength="50" required class="form-control" data-ng-model="Dep_Name">
                                        </div>
                                    </div>




                                </div>  

                                <div class="col-xs-5">                             


                                </div> 

                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="separator pull-right">
                                            </div>
                                            <div class="pull-right">
                                                 <input id="Button2" type="button" class="btn btn-success" ng-show="isupdate" value="Update" data-ng-click="editDepartment()" />        
                                                <input id="Button2" type="button" class="btn btn-primary" ng-show="!isupdate" value="Add" data-ng-click="addDepartment()" />                                               
                                                <input id="Button2" type="button" class="btn btn-info" value="Clear" data-ng-click="clearDepartment()" />

                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </form> 
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th><label>Department Id</label></th>
                                        <th><label>Department</label></th>
                                        <th><label></label></th>
                                        <th><label></label></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in department">
                                        <td>{{item.Id}}</td>
                                        <td>{{item.DepartmentName}}</td>  
                                        <td><a class="btn btn-primary" ng-click="clickEditDepartment(item)"><span  class="fa fa-pencil-square-o"></span></a></td>    
                                        <td><a class="btn btn-danger" ng-click="deleteDepartment(item.Id)" ><span  class="fa fa-trash-o"></span></a></td>       
                                    </tr> 
                                    <!-- <tr>
                                         <td>DPT001</td>
                                         <td>MOS</td>
                                         <td><a class="btn btn-primary"><span  class="fa fa-pencil-square-o"></span></a></td>    
                                         <td><a class="btn btn-danger"><span  class="fa fa-trash-o"></span></a></td>       
                                     </tr>   
                                     <tr>
                                         <td>DPT002</td>
                                         <td>IT</td>
                                         <td><a class="btn btn-primary"><span  class="fa fa-pencil-square-o"></span></a></td>    
                                         <td><a class="btn btn-danger"><span  class="fa fa-trash-o"></span></a></td>         
                                     </tr>   -->    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" ng-class="{'active' : clickedTab == 2}" id="tab_default_2">
                        <div class="row">
                            <form class="form-horizontal" role="form" >
                                <div class="col-xs-5">      
                                    <div class="form-group" ng-class="{'has-error' : Emp_EPF ==='' && empValidation}">
                                        <label class="col-sm-4 control-label">Employee EPF</label>
                                        <div class="col-sm-8">
                                            <input  type="text" maxlength="50" required class="form-control" data-ng-model="Emp_EPF">
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error' : Emp_Name ==='' && empValidation}">
                                        <label class="col-sm-4 control-label">Employee Name </label>
                                        <div class="col-sm-8">
                                            <input  type="text" maxlength="50" required class="form-control" data-ng-model="Emp_Name">
                                        </div>
                                    </div>
                                </div>  
                                <div class="col-xs-5">     
                                    <div class="form-group" class="form-group" ng-class="{'has-error' : departmentes.DepartmentName ==='' && empValidation}">
                                        <label class="col-sm-4 control-label">Department</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" ng-model="departmentes" 
                                                    ng-options="departmentes as departmentes.DepartmentName for departmentes in departmentDropDown">                                              
                                            </select>
                                        </div>
                                    </div>                                      
                                      <div class="form-group" ng-class="{'has-error' : Emp_UserName ==='' && empValidation}">
                                        <label class="col-sm-4 control-label">Employee User Name </label>
                                        <div class="col-sm-8">
                                            <input  type="text" maxlength="50" required class="form-control" data-ng-model="Emp_UserName">
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="separator pull-right">
                                            </div>
                                            <div class="pull-right">
                                                <input id="Button2" type="button" class="btn btn-success" ng-show="isupdate" value="Update" data-ng-click="editEmployee()" />            
                                                <input id="Button2" type="button" class="btn btn-primary" value="Add"  ng-show="!isupdate" data-ng-click="addEmployee()" />                                               
                                                <input id="Button2" type="button" class="btn btn-info" value="Clear" data-ng-click="clearEmployee()" />
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </form> 
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th><label>Employee Id</label></th>
                                        <th><label>Employee Name</label></th>
                                        <th><label>Employee Department</label></th>
                                        <th><label></label></th>
                                        <th><label></label></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in employeeData">
                                        <td>{{item.EPF}}</td>
                                        <td>{{item.EMPName}}</td> 
                                        <td>{{item.DepartmentName}}</td> 
                                        <td><a class="btn btn-primary" ng-click="clickEditEmployee(item)"><span  class="fa fa-pencil-square-o" ></span></a></td>    
                                        <td><a class="btn btn-danger" ng-click="deleteEmployee(item.UserId)"><span  class="fa fa-trash-o" ></span></a></td>       
                                    </tr>           
                                    <!--   <tr>
                                         <td>9564</td>
                                         <td>W A D Dinuka</td>
                                         <td>IT</td>
                                         <td><a class="btn btn-primary"><span  class="fa fa-pencil-square-o"></span></a></td>    
                                         <td><a class="btn btn-danger"><span  class="fa fa-times"></span></a></td>       
                                     </tr>   
                                     <tr>
                                         <td>4563</td>
                                         <td>K M  Malaka</td>
                                         <td>Development</td>
                                         <td><a class="btn btn-primary"><span  class="fa fa-pencil-square-o"></span></a></td>    
                                         <td><a class="btn btn-danger"><span  class="fa fa-times"></span></a></td>         
                                     </tr>   -->   
                                </tbody>
                            </table>

                        </div>

                    </div>
                    <div class="tab-pane" ng-class="{'active' : clickedTab == 3}" id="tab_default_3">
                        <div class="row">
                            <form class="form-horizontal" role="form" >
                                <div class="col-xs-4">      
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Device Id </label>
                                        <div class="col-sm-8">
                                            <input type="text" maxlength="50" required class="form-control" data-ng-model="Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Device Name </label>
                                        <div class="col-sm-8">
                                            <input type="text" maxlength="50" required class="form-control" data-ng-model="Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Device Type </label>
                                        <div class="col-sm-8">
                                            <select name="plant" class="form-control" data-ng-options="" required data-ng-model="plant">
                                                <option value="" selected="selected">Device Type</option>
                                            </select>
                                        </div>
                                    </div>       


                                </div>  

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Capacity</label>
                                        <div class="col-sm-8">
                                            <input type="text" maxlength="50" required class="form-control" data-ng-model="Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Size</label>
                                        <div class="col-sm-8">
                                            <select name="plant" class="form-control" data-ng-options="" required data-ng-model="plant">
                                                <option value="" selected="selected">Device Size</option>
                                            </select>
                                        </div>
                                    </div>

                                </div> 
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="separator pull-right">
                                            </div>
                                            <div class="pull-right">
                                                <input id="Button2" type="button" class="btn btn-primary" value="Add" data-ng-click="" />
                                                <input id="Button2" type="button" class="btn btn-danger" value="Delete" data-ng-click="" />
                                                <input id="Button2" type="button" class="btn btn-info" value="Clear" data-ng-click="" />

                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </form> 

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
