<div id="wrapper"  class="{{togelWrapperclass}}">      
    <div id="sidebar-wrapper">
        <ul id="sidebar_menu" class="sidebar-nav" ng-click="togelWrapper()">
            <li class="sidebar-brand"><a id="menu-toggle" href="">Suggestion<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
        </ul>          
        <ul class="sidebar-nav" id="sidebar" ng-repeat="items in navBarItems" >     
            <li><a href="#/{{items| lowercase}}">{{items}}</a></li>  
        </ul>
    </div>

    <!-- Page content -->
    <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
            <div class="row">
                <!--  <h1 class="page-header">Analytics</h1>-->               

                <br>
                <div class="col-md-12">

                    <div class="dropdown pull-right">
                        <a class="dropdown-toggle1 btn btn-default" id="dLabel2" role="button" data-toggle="dropdown" data-target="#" href="">
                            <span class="fa fa-calendar"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel2">
                            <datetimepicker data-ng-model="data.date2"
                                            data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle1' }"></datetimepicker>
                        </ul>
                    </div>
                    <h4 class="sub-header pointer mainToggelStyle" ng-click="togelFishingBoatsStatus()">Kaizen Suggestion  Portal  {{data.date2| date:'short'}}</h4>

                </div>
                <div class="col-md-12">
                    <div class="row">


                        <div class="tabbable-panel">
                            <div class="tabbable-line">
                                <ul class="nav nav-tabs ">
                                    <li  ng-class="{'active' : clickedTab == 1}" >
                                        <a  ng-click="clickTeb(1)" data-toggle="tab">
                                            <span  class="fa fa-graduation-cap"></span> <b>Add New Suggestion</b></a>
                                    </li >
                                    <li  ng-class="{'active' : clickedTab == 2}">
                                        <a  ng-click="clickTeb(2)" data-toggle="tab">
                                            <span  class="fa fa-cogs"></span> <b>Suggestion Status</b></a>
                                    </li>
                                    <li ng-class="{'active' : clickedTab == 3}">
                                        <a  ng-click="clickTeb(3)"  data-toggle="tab">
                                            <span  class="fa fa-line-chart"></span> <b>Suggestion Approval</b> </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane" ng-class="{'active' : clickedTab == 1}" id="tab_default_1">

                                        <div class="row">
                                            <form class="form-horizontal" role="form" >
                                                <div class="col-xs-6">      
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">Suggestion No</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" maxlength="50" required class="form-control" data-ng-model="Name">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">Month</label>
                                                        <div class="col-sm-8">
                                                          <input type="text" maxlength="50" required class="form-control" data-ng-model="Name">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">Proposer</label>
                                                        <div class="col-sm-8">
                                                             <input type="text" maxlength="50" required class="form-control" data-ng-model="Name">
                                                        </div>                                                      
                                                    </div>

                                                   
                                                     <div class="form-group">
                                                        <label class="col-sm-4 control-label">Kaizen Status</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" maxlength="50" required class="form-control" data-ng-model="Name">

                                                        </div>
                                                    </div> 
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">Suggestion</label>
                                                        <div class="col-sm-8">
                                                            <textarea class="form-control" rows="3"></textarea>
                                                        </div>
                                                    </div>



                                                </div>  

                                                <div class="col-xs-6">     
                                                   
                                                
                                                       <div class="form-group">
                                                        <label class="col-sm-4 control-label">Comment</label>
                                                        <div class="col-sm-8">
                                                            <textarea class="form-control" rows="3"></textarea>
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <div class="separator pull-right">
                                                            </div>
                                                            <div class="pull-right">
                                                                <input id="Button2" type="button" class="btn btn-primary" value="Add" data-ng-click="" />                                               
                                                                <input id="Button2" type="button" class="btn btn-info" value="Clear" data-ng-click="" />

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 

                                            </form> 

                                        </div>

                                    </div>
                                    <div class="tab-pane" ng-class="{'active' : clickedTab == 2}" id="tab_default_2">
                                        <div class="row">
                                            <form class="form-horizontal" role="form" >
                                                <div class="col-xs-6">      
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">Month</label>
                                                        <div class="col-sm-8">
                                                            <select name="plant" class="form-control" data-ng-options="" required data-ng-model="plant">
                                                                <option value="" selected="selected">Add  Department</option>
                                                                <option value="" >IT</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>  

                                                <div class="col-xs-6">     
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">Status</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" maxlength="50" required class="form-control" data-ng-model="Name">

                                                        </div>
                                                    </div>  

                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <div class="separator pull-right">
                                                            </div>
                                                            <div class="pull-right">
                                                                <input id="Button2" type="button" class="btn btn-primary" value="Add" data-ng-click="" />                                               
                                                                <input id="Button2" type="button" class="btn btn-info" value="Clear" data-ng-click="" />

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 

                                            </form> 

                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>

                                                        <th><label>DepartmentName</label></th>                                       
                                                        <th><label>Month</label></th>
                                                        <th><label>Kaizen Count</label></th>



                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!--  <tr ng-repeat="item in departments">
                                                          <td>{{item.id}}</td>
                                                          <td>{{item.name}}</td>                                                             
                                                      </tr>            -->    
                                                    <tr>
                                                        <td>IT</td>
                                                        <td>January</td>
                                                        <td>20</td>

                                                    </tr>   
                                                    <tr>
                                                        <td></td>
                                                        <td>February</td>
                                                        <td>10</td>

                                                    </tr> 

                                                    <tr>
                                                        <td>Development</td>
                                                        <td>January</td>
                                                        <td>20</td>

                                                    </tr>   
                                                    <tr>
                                                        <td></td>
                                                        <td>February</td>
                                                        <td>10</td>

                                                    </tr> 
                                                </tbody>
                                            </table>

                                        </div>

                                    </div>
                                    <div class="tab-pane" ng-class="{'active' : clickedTab == 3}" id="tab_default_3">
                                        <div class="row">


                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>      
</div> 




